.heading{
    font-family:monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bg{
    border: 1px solid black;
    height: 65vh;
    max-width: 40%;
    border-radius: 46px 46px 46px 46px;
    background-color: gray;
    /* min-width: 150px; */
    display: inline-block;
    min-width: 250px;
    padding: 60px;
}

img{
    height: 65vh;
}

.logo{
    height: 10%;
   
}

.HowTo{
    margin-top: -70px;
    font-size: 1em;
    color:black;
}

.description{
    text-shadow: 1px 1px white;
    color:black;
    font-size: 24px;
    margin-top: 40%
}

button{
    width: 90%;
    height: 10%;
    margin-left: 5.5%;
    border-radius: 8px;
    background-color:springgreen;
    font-size: 20px;
    cursor: pointer;
}

